<!-- wp:template-part {"slug":"header","theme":"bn-newspack-child"} /-->

<!-- wp:group {"tagName":"article","align":"full"} -->
<article class="wp-block-group alignfull">
    <!-- wp:post-featured-image {"align":"wide"} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:post-title {"level":1} /-->
        
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
        <div class="wp-block-group">
            <!-- wp:post-author {"showAvatar":true} /-->
            <!-- wp:post-date /-->
            <!-- wp:post-terms {"term":"category"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-content /-->

        <!-- wp:post-terms {"term":"post_tag"} /-->
    </div>
    <!-- /wp:group -->
</article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"bn-newspack-child"} /-->

